.board {
    // border: 1px solid #bdbdbd;
    .board-header {
        height: 40px;
        border-width: 0 0 3px 0;
        border-style: solid;
        border-color: #e5e5e5;
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .board-title-container {
            width: 100px !important;
        }
    }

    .board-content {
        padding: 10px 0;
        height: calc(100vh - 120px);
        overflow-y: auto;
    }
}