.bs-card {
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
}

img.card-image {
    border-radius: 6px 6px 0 0;
}

.card-info {
    padding: 0 10px 10px 10px;
    h3 {
        margin: 0;
    }
    p {
        margin: 0;
    }
    p.card-name {
        font-size: 16px;
        font-weight: bold;
    }
}

.card-navigation {
    margin-top: 10px;
    display: flex;
    p {
        cursor: pointer;
        margin-right: 10px;
        text-decoration: underline;
    }
}