.form-group {
    margin-bottom: 10px;
}

label.form-label {
    font-size: 13px;
    &.label-required::after {
        content: "*";
        margin-left: 5px;
    }
}
input.form-control {
    width: 100%;
    box-sizing: border-box;
}

input {
    height: 35px;
    padding: 0 8px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    &:focus {
        outline-color: #9e9191;
    }
}